.combo {
    float: left;
    width: 50%;
}

.comboWrapper {
    display: flex;
    justify-content: space-between;
    margin: 15px;
    border-bottom: 1px solid black;
}

img {
    width: 200;
    height: 200;
}

p {
    float: right;
    width: 50%;
    font-size: large;
    margin-right: 15px;
}