.combo {
    width: 50%;
    padding-right: 24px;
}

.comboWrapper {
    display: flex;
    margin: 15px;
    align-items: center;
    border-bottom: 5px solid #ADD8E6;
}

img {
    width: 200px;
    height: 113px;
}

body {
    background-color: #333;
}

p {
    width: 50%;
    font-size: large;
    color: #f0f0f0;
    margin-right: 15px;
}

.warning {
    color: red;
    font-weight: bold;
}