body {
    font-family: Arial, sans-serif;
}

a {
    display: inline-block;
    padding: 12px 24px;
    background-color: #1e90ff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

a:hover {
    background-color: #007acc;
}

.combo {
    width: 50%;
    padding-right: 24px;
}

.comboWrapper {
    display: flex;
    margin: 15px;
    align-items: center;
    border-bottom: 5px solid #ADD8E6;
}

img {
    width: 200px;
    height: 113px;
}

body {
    background-color: #333;
}

p {
    width: 50%;
    font-size: large;
    color: #f0f0f0;
    margin-right: 15px;
}

.img-crop {
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.warning {
    color: red;
    font-weight: bold;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    border: none;
    transform: translate(-50%, -50%);
  }

  .close-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: white;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
  }