body {
  background-color: #1E1E1E;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 0 16px;
}

.itemBuildWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;
  padding-bottom: 32px;
  border-bottom: 2px solid #333;
}

.itemBuildWrapper:last-child {
  border-bottom: none;
}

.hero {
  width: 200px;
  height: 200px;
  margin-bottom: 16px;
}

.items {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

.items img {
  width: 100px;
  height: 100px;
  display: block;
  margin-right: 10px;
}

.items img:last-child {
  margin-right: 0;
}

p {
  margin: 16px;
  color: #FFFFFF;
  font-size: 24px;
  text-align: left;
  max-width: 80%;
}
